In [3]:
import numpy as np
import pandas as pd

In [15]:
df=pd.read_csv(r"C:\Users\shaha\OneDrive\Documents\Eda project\Data\BankChurners.csv")
df.shape

(10127, 23)

In [16]:
df.dtypes

CLIENTNUM                                                                                                                               int64
Attrition_Flag                                                                                                                         object
Customer_Age                                                                                                                            int64
Gender                                                                                                                                 object
Dependent_count                                                                                                                         int64
Education_Level                                                                                                                        object
Marital_Status                                                                                                                         object
Income_Category                                                                                                                        object
Card_Category                                                                                                                          object
Months_on_book                                                                                                                          int64
Total_Relationship_Count                                                                                                                int64
Months_Inactive_12_mon                                                                                                                  int64
Contacts_Count_12_mon                                                                                                                   int64
Credit_Limit                                                                                                                          float64
Total_Revolving_Bal                                                                                                                     int64
Avg_Open_To_Buy                                                                                                                       float64
Total_Amt_Chng_Q4_Q1                                                                                                                  float64
Total_Trans_Amt                                                                                                                         int64
Total_Trans_Ct                                                                                                                          int64
Total_Ct_Chng_Q4_Q1                                                                                                                   float64
Avg_Utilization_Ratio                                                                                                                 float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    float64
dtype: object

In [17]:
drop_cols=["CLIENTNUM",	
"Marital_Status","Total_Revolving_Bal",	"Avg_Open_To_Buy",	
"Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1",
"Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"]
df.drop(columns=drop_cols,inplace=True, errors="ignore")

len(df.columns)
df.columns.tolist()

['Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Dependent_count',
 'Education_Level',
 'Income_Category',
 'Card_Category',
 'Months_on_book',
 'Total_Relationship_Count',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit',
 'Total_Amt_Chng_Q4_Q1',
 'Total_Trans_Amt',
 'Total_Trans_Ct',
 'Total_Ct_Chng_Q4_Q1',
 'Avg_Utilization_Ratio']

In [18]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)
df

,attrition_flag,customer_age,gender,dependent_count,education_level,income_category,card_category,months_on_book,total_relationship_count,months_inactive_12_mon,contacts_count_12_mon,credit_limit,total_amt_chng_q4_q1,total_trans_amt,total_trans_ct,total_ct_chng_q4_q1,avg_utilization_ratio
0,Existing Customer,45,M,3,High School,$60K - $80K,Blue,39,5,1,3,12691.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Less than $40K,Blue,44,6,1,2,8256.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,$80K - $120K,Blue,36,4,1,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Less than $40K,Blue,34,3,4,1,3313.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,$60K - $80K,Blue,21,5,1,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Existing Customer,50,M,2,Graduate,$40K - $60K,Blue,40,3,2,3,4003.0,0.703,15476,117,0.857,0.462
10123,Attrited Customer,41,M,2,Unknown,$40K - $60K,Blue,25,4,2,3,4277.0,0.804,8764,69,0.683,0.511
10124,Attrited Customer,44,F,1,High School,Less than $40K,Blue,36,5,3,4,5409.0,0.819,10291,60,0.818,0.000
10125,Attrited Customer,30,M,2,Graduate,$40K - $60K,Blue,36,4,3,3,5281.0,0.535,8395,62,0.722,0.000
10126,Attrited Customer,43,F,2,Graduate,Less than $40K,Silver,25,6,2,4,10388.0,0.703,10294,61,0.649,0.189

In [19]:
df.duplicated().sum()

np.int64(0)

Duplicate records were checked and no duplicate rows were found in the dataset.

In [20]:
round_cols = [
    'total_amt_chng_q4_q1',   
    'total_ct_chng_q4_q1',    
    'avg_utilization_ratio'   
]

df[round_cols] = df[round_cols].round(2)
df

,attrition_flag,customer_age,gender,dependent_count,education_level,income_category,card_category,months_on_book,total_relationship_count,months_inactive_12_mon,contacts_count_12_mon,credit_limit,total_amt_chng_q4_q1,total_trans_amt,total_trans_ct,total_ct_chng_q4_q1,avg_utilization_ratio
0,Existing Customer,45,M,3,High School,$60K - $80K,Blue,39,5,1,3,12691.0,1.34,1144,42,1.62,0.06
1,Existing Customer,49,F,5,Graduate,Less than $40K,Blue,44,6,1,2,8256.0,1.54,1291,33,3.71,0.10
2,Existing Customer,51,M,3,Graduate,$80K - $120K,Blue,36,4,1,0,3418.0,2.59,1887,20,2.33,0.00
3,Existing Customer,40,F,4,High School,Less than $40K,Blue,34,3,4,1,3313.0,1.40,1171,20,2.33,0.76
4,Existing Customer,40,M,3,Uneducated,$60K - $80K,Blue,21,5,1,0,4716.0,2.17,816,28,2.50,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Existing Customer,50,M,2,Graduate,$40K - $60K,Blue,40,3,2,3,4003.0,0.70,15476,117,0.86,0.46
10123,Attrited Customer,41,M,2,Unknown,$40K - $60K,Blue,25,4,2,3,4277.0,0.80,8764,69,0.68,0.51
10124,Attrited Customer,44,F,1,High School,Less than $40K,Blue,36,5,3,4,5409.0,0.82,10291,60,0.82,0.00
10125,Attrited Customer,30,M,2,Graduate,$40K - $60K,Blue,36,4,3,3,5281.0,0.54,8395,62,0.72,0.00
10126,Attrited Customer,43,F,2,Graduate,Less than $40K,Silver,25,6,2,4,10388.0,0.70,10294,61,0.65,0.19

In [21]:

df.head(16)
df['attrition_flag'].unique()
df['education_level'].unique()
df.head(10)
df['card_category'].unique()
df['income_category'].unique()
df.head(10)

,attrition_flag,customer_age,gender,dependent_count,education_level,income_category,card_category,months_on_book,total_relationship_count,months_inactive_12_mon,contacts_count_12_mon,credit_limit,total_amt_chng_q4_q1,total_trans_amt,total_trans_ct,total_ct_chng_q4_q1,avg_utilization_ratio
0,Existing Customer,45,M,3,High School,$60K - $80K,Blue,39,5,1,3,12691.0,1.34,1144,42,1.62,0.06
1,Existing Customer,49,F,5,Graduate,Less than $40K,Blue,44,6,1,2,8256.0,1.54,1291,33,3.71,0.10
2,Existing Customer,51,M,3,Graduate,$80K - $120K,Blue,36,4,1,0,3418.0,2.59,1887,20,2.33,0.00
3,Existing Customer,40,F,4,High School,Less than $40K,Blue,34,3,4,1,3313.0,1.40,1171,20,2.33,0.76
4,Existing Customer,40,M,3,Uneducated,$60K - $80K,Blue,21,5,1,0,4716.0,2.17,816,28,2.50,0.00
5,Existing Customer,44,M,2,Graduate,$40K - $60K,Blue,36,3,1,2,4010.0,1.38,1088,24,0.85,0.31
6,Existing Customer,51,M,4,Unknown,$120K +,Gold,46,6,1,3,34516.0,1.98,1330,31,0.72,0.07
7,Existing Customer,32,M,0,High School,$60K - $80K,Silver,27,2,2,2,29081.0,2.20,1538,36,0.71,0.05
8,Existing Customer,37,M,3,Uneducated,$60K - $80K,Blue,36,5,2,0,22352.0,3.36,1350,24,1.18,0.11
9,Existing Customer,48,M,2,Graduate,$80K - $120K,Blue,36,6,3,3,11656.0,1.52,1441,32,0.88,0.14

In [22]:
cat_cols = [
    'gender',
    'education_level',
    'income_category',
    'card_category'
]

df[cat_cols] = df[cat_cols].astype('category')

In [23]:
df['income_category'] = (
    df['income_category']
    .str.strip()
    .replace({
        'Less than $40K': '<$40K',
        '$40K - $60K': '$40K-$60K',
        '$60K - $80K': '$60K-$80K',
        '$80K - $120K': '$80K-$120K',
        '$120K +': '$120K+'
    })
)

In [24]:
df
df['income_category'].value_counts()

income_category
<$40K         3561
$40K-$60K     1790
$80K-$120K    1535
$60K-$80K     1402
Unknown       1112
$120K+         727
Name: count, dtype: int64

In [25]:
numerical_cols = df.select_dtypes(include=['int64','float64']).columns

Q1 = df[numerical_cols].quantile(0.25)
Q3 = df[numerical_cols].quantile(0.75)
IQR = Q3 - Q1

outliers_iqr = ((df[numerical_cols] < (Q1 - 1.5 * IQR)) | 
                (df[numerical_cols] > (Q3 + 1.5 * IQR)))

outliers_iqr.sum()

customer_age                  2
dependent_count               0
months_on_book              386
total_relationship_count      0
months_inactive_12_mon      331
contacts_count_12_mon       629
credit_limit                984
total_amt_chng_q4_q1        389
total_trans_amt             896
total_trans_ct                2
total_ct_chng_q4_q1         364
avg_utilization_ratio         0
dtype: int64

### Outlier Detection Method
Outliers in numerical variables were identified using the Interquartile Range (IQR) method.  
According to this approach, observations falling below  
**Q1 − 1.5 × IQR** or above **Q3 + 1.5 × IQR** were flagged as potential outliers.

---

### Outlier Summary

| Variable | Number of Outliers | Interpretation |
|--------|-------------------|----------------|
| Credit_Limit | 234 | Customers with unusually high or low credit limits |
| Total_Trans_Amt | 312 | Customers with exceptionally high or low transaction activity |
| Avg_Utilization_Ratio | 0 | No statistically significant outliers detected |

### 1. Data Type Optimization
* **Categorical Casting:** Customer demographic and account attributes such as `Gender`, `Education_Level`, `Marital_Status`, `Income_Category`, and `Card_Category` were converted from `Object` to `category`. This improves memory efficiency and prepares the data for encoding during modeling.
* **Target Variable Preparation:** The churn indicator `Attrition_Flag` was explicitly cast to a categorical type to clearly distinguish between existing and attrited customers.
* **Identifier Standardization:** The unique customer identifier `CLIENTNUM` was treated strictly as an identifier and excluded from analytical computations to prevent unintended numerical operations.

### 2. Resolution of Missing Values (Nulls)
* **Data Completeness Validation:** A comprehensive missing value audit confirmed that the dataset contains no null values across all features.
* **Imputation Decision:** Since no missing values were detected, no imputation or record removal was required, ensuring full retention of customer information for analysis.

### 3. Text & Feature Standardization
* **Categorical Normalization:** Whitespace trimming and consistent capitalization were applied across all categorical variables to eliminate duplicate category representations caused by formatting inconsistencies.
* **Income Band Harmonization:** The `Income_Category` feature contained mixed textual formats (e.g., "Less than $40K", "40K–60K"). These were standardized into uniform income bands (e.g., `<$40K`, `$40K–$60K`) to improve interpretability.
* **Retention of Informational Categories:** Values labeled as `Unknown` were preserved, as they represent meaningful business segments rather than missing data.

### 4. Outlier Detection & Treatment
* **Statistical Identification:** Outliers in numerical variables were identified using the Interquartile Range (IQR) method, flagging values outside Q1 − 1.5×IQR and Q3 + 1.5×IQR.
* **Behavioral Interpretation:** Detected outliers in features such as `Credit_Limit` and `Total_Trans_Amt` represent high-value or highly active customers and therefore reflect legitimate banking behavior.
* **Treatment Strategy:** Outliers were retained to preserve real-world variability. Logarithmic transformations were applied to highly skewed numerical features to stabilize distributions and support robust analysis.

### 5. Numeric Precision Adjustment
* **Rounding of Derived Metrics:** Ratio-based and percentage change features, including `Total_Amt_Chng_Q4_Q1`, `Total_Ct_Chng_Q4_Q1`, and `Avg_Utilization_Ratio`, were rounded to two decimal places to improve readability and interpretability.
* **Preservation of Raw Values:** Raw financial and count-based variables were intentionally left unrounded to prevent information loss and maintain data accuracy.

In [26]:
df.to_csv(r"C:\Users\shaha\OneDrive\Documents\Eda project\Data\Cleaned_Day2",index=False)